@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome {
    background-image: url(/pattern_balloons.png);
}

.lobster {
    font-family: 'Lobster', cursive;
}

.s-h1 {
    font-family: 'Lobster', cursive;
    line-height: 1.25;
}

.ks-btn {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    line-height: 1.25;
}

.text-shadow {
    text-shadow: 1px 2px 5px #333333;
}

.text-brown {
    color: #a2825c;
}